<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
    <style>
    
    .center_img{
      margin-left: 37%;
    }

    .info_box{
      border-style: solid;
      border-radius: 5px;
      border-color: green;
      width : 30%;
      padding: 10px;
    }
    
    h3{
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
    }
    
    h4{
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      line-height: 0.5;
    }
    
    table, th, td {
      border: 1px solid black;
    }
 
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th {
      height: 50px;
      background-color: green;
      color: white;
    }
    
    td {
      height: 30px;
      vertical-align: bottom;
    }
    
    tr:nth-child(even){background-color: #f2f2f2}
  
    </style>
  </head>
  
  
  <body onload='number_pages'>
    
    <div class="center_img">
      <%= wicked_pdf_image_tag "images/logo_simple.jpg", height:"200px", width:"200px" %>
    </div>
    
    <br>
    
    <div class="info_box">
      <h4>Madera</h4>
        <address>
          Adresse
          <div>02 45 69 63 52</div>
          <div>02 45 69 63 89</div>
          <div>3546985633325</div>
          <div>Serviceclient@madera.fr</div>
        </address>
    </div>
    
    <br>
    
    <div id="content">
      <h3><%= @order.orderName %></h3>
      
      <table>
        <tr>
          <td>Nom du client</td>
          <td><%= @order.client.clientName %></td>
        </tr>
        <tr>
          <td>Etat du projet</td>
          <td><%= @order.stateOrder %></td>
        </tr>
        <tr>
          <td>Prix total</td>
          <td><%= @order.priceTotal %></td>
        </tr>
        <tr>
          <td>Etat de l'expedition</td>  
          <td><%= @order.stateExpedition %></td>
        </tr>
      </table>
      
      <br>
      
      <table>
        <thead>
          <tr>
            <th class="ref">Réf</th>
            <th>Nom</th>
            <th class="description">Description</th>
            <th class="price">Prix</th>
          </tr>
        </thead>
        <tbody>
          <% @order.modulus.each do |m| %>
            <tr>
              <td>MDL<%= m.id %></td>
              <td><%= m.modulusName %></td>
              <td><%= m.modulusNature %></td>
              <td><%= m.priceTotal %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      <br>
      
      <div class="validation-box">
          <label>Bon pour accord le </label>
          <input type="text">
          <label>Signature </label>
      </div>
    </div>
  </body>
</html>