<h1>Liste des composants</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <td>#</td>
            <td>Nom du composant</td>
            <td>Nature du composant</td>
            <td>Famille</td>
            <td>Fournisseur</td>
            <td>Prix</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <% @components.each do |component| %>
        <tr>
            <td><%= component.id %></td>
            <td><%= component.componentName %></td>
            <td><%= component.componentNature %></td>
            <td><%= component.family_component.familyComponentName %></td>
            <td><%= component.provider.providerName %></td>
            <td><%= component.priceComponent %></td>
            <td>
                <a href="<%= component_path(component.id) %>" class="fa fa-eye fa-2x"></a>
                <a href="<%= edit_component_path(component.id) %>" class="fa fa-pencil fa-2x"></a>
                <a href="<%= component_path(component.id) %>" class="fa fa-trash fa-2x" data-confirm="Etes sur sûr ?" data-method="delete"></a>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<p>
    <a href="<%= new_component_path %>" class="btn btn-success fa fa-plus-circle"> Ajouter un nouveau composant</a>
</p>

