<h1><%= @component.componentName %></h1>

<%= @component.componentNature %>
<%= @component.provider_id %>
<%= @component.unite_use_id %>
<%= @component.modulus.ids %>
<p>
    <a href="<%= components_path %>" class ="btn btn-info">revenir</a>
</p>