<h1>Liste des familles</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <td>#</td>
            <td>Nom de la famille</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <% @family_components.each do |fC| %>
        <tr>
            <td><%= fC.id %></td>
            <td><%= fC.familyComponentName %></td>
            <td>
                <a href="<%= edit_family_component_path(fC.id) %>" class="fa fa-pencil fa-2x"></a>
                <a href="<%= family_component_path(fC.id) %>" class="fa fa-trash fa-2x" data-confirm="Etes sur sûr ?" data-method="delete"></a>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<p>
    <a href="<%= new_family_component_path %>" class="btn btn-success fa fa-plus-circle"> Ajouter une nouvelle famille</a>
</p>

