<h1>Liste des clients</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <td>#</td>
            <td>Prenom</td>
            <td>Nom</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <% @clients.each do |client| %>
        <tr>
            <td><%= client.id %></td>
            <td><%= client.firstNameClient %></td>
            <td><%= client.clientName %></td>
            <td>
                <a href="<%= clients_path(client.id) %>" class="fa fa-eye fa-2x"></a>
                <a href="<%= edit_client_path(client.id) %>" class="fa fa-pencil fa-2x"></a>
                <a href="<%= client_path(client.id) %>" class="fa fa-trash fa-2x" data-confirm="Etes sur sûr ?" data-method="delete"></a>
            
            </td>
            
        </tr>
        <% end %>
    </tbody>
</table>

<p>
    <a href="<%= new_client_path %>" class="btn btn-success fa fa-plus-circle"> Ajouter un nouveau client</a>
</p>

