<h1>Bienvenue chez Madera, <%= current_user.firstname %></h1>

<% if current_user.role == 'admin' %>

<% else %>

<div class="container">
   <div class="row">
		<div class="col-md-4">
			<div class="yolo">
				<a href=" <%= project_modular_houses_path %>"><img src="http://s8.postimg.org/chqdmmoo5/all_posts.png"></a>
				<span class="title">Projets</span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="yolo">
				<a href=" <%= clients_path %>"><img src="http://s28.postimg.org/ma9mhuywt/new_post.png"></a>
				<span class="title">Clients</span> 
			</div>
		</div>
		<div class="col-md-4">
			<div class="yolo">
				<a href=" <%= providers_path %>"><img src="http://s28.postimg.org/ma9mhuywt/new_post.png"></a>
				<span class="title">Fournisseurs</span>
			</div>
        </div>
    </div>
    <div class="row">       
        <div class="col-md-4">
        	<div class="yolo">
				<a href=" <%= components_path %>"><img src="http://s28.postimg.org/ma9mhuywt/new_post.png"></a>
				<span class="title">Composants</span> 
			</div>
        </div>
        <div class="col-md-4">
        	<div class="yolo">
				<a href=" <%= family_components_path %>"><img src="http://s28.postimg.org/ma9mhuywt/new_post.png"></a>
				<span class="title">Famille Composant</span> 
			</div>
        </div>
        <div class="col-md-4">
        	<div class="yolo">
				<a href=" <%= scale_modular_houses_path %>"><img src="http://s28.postimg.org/ma9mhuywt/new_post.png"></a>
				<span class="title">Gamme</span> 
			</div>
        </div>
	</div>
</div>
<% end %>