<h1>Bienvenue chez Madera, <%= current_user.firstname %></h1>

<% if current_user.role == 'admin' %>

<% else %>
    <div id="panel">
		<ul class="menu">
			<li>
				<a href=" <%= project_modular_houses_path %>"><img src="http://s8.postimg.org/chqdmmoo5/all_posts.png"></a>
				<span class="title">Projets</span>
			</li>
			<li>
				<a href=" <%= clients_path %>"><img src="http://s28.postimg.org/ma9mhuywt/new_post.png"></a>
				<span class="title">Clients</span> 
			</li>
			<li>
				<a href=" <%= providers_path %>"><img src="http://s28.postimg.org/ma9mhuywt/new_post.png"></a>
				<span class="title">Fournisseurs</span> 
            </li>
            <li>
				<a href=" <%= components_path %>"><img src="http://s28.postimg.org/ma9mhuywt/new_post.png"></a>
				<span class="title">Composants</span> 
            </li>
            <li>
				<a href=" <%= family_components_path %>"><img src="http://s28.postimg.org/ma9mhuywt/new_post.png"></a>
				<span class="title">Famille Composant</span> 
            </li>
		</ul>
	</div>
<% end %>