<h1>Les projets</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <td>#</td>
            <td>Nom du projet</td>
            <td>ID client</td>
            <td>ID commercial</td>
            <td>ID gamme</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <% @projets.each do |projet| %>
        <tr>
            <td><%= projet.id %></td>
            <td><%= projet.projectName %></td>
            <td><a href="<%= client_path(projet.client_id) %>"><%= projet.client.clientName %></a></td>
            <td><%= projet.user.lastname %></td>
            <td><%= projet.scale_modular_house.scaleName %></td>
            <td>
                <a href="<%= edit_project_modular_house_path(projet.id) %>" class="fa fa-pencil fa-2x"></a>
                <a href="<%= project_modular_house_path(projet.id) %>" class="fa fa-trash fa-2x" data-confirm="Etes sur sûr de vouloir supprimer ce projet ?" data-method="delete"></a>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<p>
    <a href="<%= new_project_modular_house_path %>" class="btn btn-success fa fa-plus-circle"> Ajouter un nouveau projet</a>
</p>

