<h1>Nouveau projet</h1>

<%= form_for @projet do |f| %>
<div class="form-group">
    <%= f.label :projectName %><br />
    <%= f.text_field :projectName, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :client_id %><br />
    <%= f.collection_select :client_id, Client.all, :id, :clientName%>
</div>

<div class="form-group">
    <button class="btn btn-primary", type="submit">Créer le client</button>
</div>

<% end %>