<!DOCTYPE html>
<titre><% provide(:title, 'Connexion') %></titre>
<style>
  .login-form {
    width: 25rem;
    height: 35rem;
    position: fixed;
    top: 30%;
    margin-top: -9.375rem;
    left: 50%;
    margin-left: -12.5rem;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }
</style>
<script>
  $(function(){
      var form = $(".login-form");

      form.css({
          opacity: 1,
          "-webkit-transform": "scale(1)",
          "transform": "scale(1)",
          "-webkit-transition": ".5s",
          "transition": ".5s"
      });
  });
</script>


<div class="login-form padding20 block-shadow">
  <div class="align-center"><%= image_tag("logo_simple.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
  <%= form_for(resource, as: resource_name, :html => {:class => 'lpformnum="1"'}, url: session_path(resource_name)) do |f| %>
      <h1 class="text-light align-center">Connexion</h1>
      <hr class="thin">
      <br>
      <div class="input-control text full-size">
        <%= f.label :login, 'Identifiant :'%>
        <%= f.text_field :login, autofocus: true%>
      </div>

      <br>
      <br>

      <div class="input-control password full-size">
        <%= f.label :password, 'Mot de passe :'%>
        <%= f.password_field :password, autocomplete: "off"%>
      </div>

      <br>
      <br>

      <div class="form-actions">
        <%= f.submit "Se connecter", class: "button primary" %>
        <br>
        <%= render "devise/shared/links" %>
        <br>
      </div>
  <% end %>
</div>





