<!DOCTYPE html>
	<titre><% provide(:title, 'Galerie') %></titre>
	<head lang="fr">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		
				<%= stylesheet_link_tag    'metro', media: 'all', 'data-turbolinks-track'=> 'reload' %>
		
        <%= stylesheet_link_tag    'metro-icons', media: 'all', 'data-turbolinks-track'=> 'reload' %>
        <%= stylesheet_link_tag    'metro-responsive', media: 'all', 'data-turbolinks-track'=> 'reload' %>
        <%= javascript_include_tag 'jquery-2.1.3.min', 'data-turbolinks-track'=> 'reload' %>
        <%= javascript_include_tag 'metro', 'data-turbolinks-track'=> 'reload' %>
				<%= stylesheet_link_tag    'gallery', media: 'all', 'data-turbolinks-track'=> 'reload' %>
	</head>
	
	<div class="app-bar fixed-top" data-role="appbar">
    <a href="<%= authenticated_root_path %>" class="app-bar-element branding">Menu</a>
    <div class="app-bar-element place-right">
      <span class="mif-cog"></span> <%= current_user.firstname %> <%= current_user.lastname %>
    </div>
  </div>
    
    <br />
    <br />
    <br />

	<header>
		<div><%= image_tag("Maison1.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison2.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison3.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison4.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison5.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison6.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison7.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison8.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison9.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison10.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison11.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison12.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		<div><%= image_tag("Maison15.jpg", :alt => "logo simple madera", height:"200px", width:"200px") %></div>
		
		
	  <!-- images placed inside block elements to deal with a Firefox rendering bug affecting  scaled flexbox images -->
	</header>
</html>