<h1>Aperçu paiement</h1>

<%= form_for @payment do |f| %>
<div class="form-group">
    <%= f.label :paymentStep, 'étape de paiement :' %><br />
    <%= f.text_field :paymentStep, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :sumToUnlock, 'Somme à débloquer:' %><br />
    <%= f.text_field :sumToUnlock, class: 'form-control'%>
</div>

<div class="form-group">
    <button class="btn btn-primary", type="submit">Valider</button>
</div>

<% end %>