<%= form_for @scaleModularHouse do |f| %>
<div class="form-group">
    <%= f.label :scaleName, 'Nom de la gamme :' %><br />
    <%= f.text_field :scaleName, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :exteriorFinish, 'Finition extérieur :' %><br />
    <%= f.text_field :exteriorFinish, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :coverType, 'Surface :' %><br />
    <%= f.text_field :coverType, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :woodWorkingQuality, 'Qualité :' %><br />
    <%= f.text_field :woodWorkingQuality, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :cctp_id, 'CCTP : '%><br />
    <%= f.collection_select :cctp_id, ScaleModularHouse.all, :id, :scaleName%>
</div>

<div class="form-group">
    <button class="btn btn-primary", type="submit">Valider</button>
</div>

<% end %>