<h1>Liste des gammes</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nom de la gamme</td>
            <td>Finition extérieur</td>
            <td>Surface</td>
            <td>Qualité</td>
            <td>CCTP</td>
            <td>Calculation rules</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <% @scaleModularHouses.each do |scaleModularHouse| %>
        <tr>
            <td><%= scaleModularHouse.id %></td>
            <td><%= scaleModularHouse.scaleName %></td>
            <td><%= scaleModularHouse.exteriorFinish %></td>
            <td><%= scaleModularHouse.coverType %></td>
            <td><%= scaleModularHouse.woodWorkingQuality %></td>
            <td><%= scaleModularHouse.cctp.cctpcharacteristics %></td>
            <td><%= scaleModularHouse.calculation_rule.woodFrameConception %></td>
            <td>
                <a href="<%= scale_modular_house_path(scaleModularHouse.id) %>" class="fa fa-eye fa-2x"></a>
                <a href="<%= edit_scale_modular_house_path(scaleModularHouse.id) %>" class="fa fa-pencil fa-2x"></a>
                <a href="<%= scale_modular_houses_path(scaleModularHouse.id) %>" class="fa fa-trash fa-2x" data-confirm="Etes sur sûr ?" data-method="delete"></a>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<p>
    <a href="<%= new_scale_modular_house_path %>" class="btn btn-success fa fa-plus-circle"> Ajouter un nouvelle gamme</a>
</p>

