<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <div class="col-md-8"><%= image_tag("logo.jpg", :alt => "logo madera", height:"60px") %></div>
      </div>
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% if current_user.role =='admin' %>
              <li><a href="/admin">Administration</a></li>
            <% end %>
            <% if current_page?('/pages/home') %>
              <li><a href="/pages/home">Menu</a></li>
            <% end %>
            <li><a href="#">Créer un Projet</a></li>
            <li><a href="#">Maison Type</a></li>
          <% end %>
        </ul>
      </div>
      </div>
  </nav>
  <section class="round">
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </section>
  </body>
</html>
