<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  
  <body>
    
  <section>
    <%= yield %>
  </section>
  
      <% if flash[:success] %>
        <script>
            $.Notify({
              caption: 'Succès',
              content: '<%= success %>',
              type: 'success',
              timeout: '5000'
            });
          </script>
      <% end %>
      <% if flash[:danger] %>
        <script>
            $.Notify({
              caption: 'Attention',
              content: '<%= danger %>',
              type: 'warning',
              timeout: '5000'
            });
          </script>
      <% end %>
      
      <% if flash[:notice] %>
          <script>
            $.Notify({
              caption: 'Notification',
              content: '<%= notice %>',
              type: 'info',
              timeout: '5000'
            });
          </script>
      <% end %>
      <% if flash[:alert] %>
        <script>
            $.Notify({
              caption: 'Alerte',
              content: '<%= alert %>',
              type: 'alert',
              timeout: '5000'
            });
          </script>
      <% end %>
      
  </body>
</html>
