<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  
  <body>
      <div class="app-bar green">
        <a class="app-bar-element" href="..."><%= image_tag("logo.jpg", :alt => "logo madera", height:"60px", width: "150px") %></a>
        <span class="app-bar-divider"></span>

        <ul class="app-bar-menu place-right">
          <% if user_signed_in? %>
              <% if current_user.role =='admin' %>
                  <li><a href="/admin">Administration</a></li>
              <% end %>
              <% if !current_page?(authenticated_root_path) %>
                  <li><a href="<%= authenticated_root_path %> ">Menu</a></li>
              <% end %>
              <% if user_signed_in? %>
                  <li><%= current_user.firstname %></li>
                  <li><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %></li>
              <% end %>
          <% end %>
        </ul>
      </div>
  
  <section>
    <%= yield %>
  </section>
    
    <div class="footer">
      <% if flash[:success] %>
        <div class="alert alert-success">
          <p class="success"><%= success %></p>
        </div>
      <% end %>
      <% if flash[:danger] %>
        <div class="alert alert-danger">
          <p class="danger"><%= danger %></p>
        </div>
      <% end %>
      
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
    </div>
  </body>
</html>
